@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0 auto; 
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
}
.lottie{
  height: 500px;
  width: 500px;
}
@media (max-width: 564px) {
  .lottie{
    height: 400px;
    width: 400px;
  }
}